body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  color: red;
}
header {
  align-items:center;
}

img {
  align-items: center;
}

nav a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

#featured-property p{
  width: 800px;
  text-align: center;
}

#details div{
  display: flex;
  float: left;
  text-align: center;
  background-color: red;
  width: 25%;
}